{% extends "Main/base.html" %}
{% block password %}
<!--html para el cambio de contraseñas para cuentas ya logeadas -->
<style>
    .body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }
    .card {
        box-shadow: 0 16px 20px 000000
        ;
    }
</style>
<div class="card mx-auto" style="width: 20rem;">
    <div class="row my-3 p-3 mx-auto">
        <div class="form-content">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="small mb-1" for="id_old_password">Old Password</label>
                        <input style="width:250px" type="password" name="old_password" autocomplete="new-password" class="form-control" required id="id_old_password" placeholder="Enter Old Password"/>
                    </div>
                    <div class="form-group">
                        <label class="small mb-1" for="id_new_password1">New Password</label>
                        <input style="width:250px" type="password" name="new_password1" autocomplete="new-password" class="form-control" required id="id_new_password1" placeholder="Enter New Password"/>
                    </div>
                    <div class="form-group">
                    <label class="small mb-1" for="id_new_password2">New Password Confirmation</label>
                    <input style="width:250px" type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" class="form-control" placeholder="Confirm New Password"/>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-10 offset-md-1">
                    <div class="form-group mt-0 mb-1">
                        <button type="submit" class="btn btn-success btn-block" id="reset">Change Password</button>
                    </div>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>
{% endblock%}